system/cmd.log
.vscode/
users/*
!users/user
system/resources/icons_orig
system/resources/icons_new
php_errors.log
system/tmp/*
system/apps/*
!system/apps/SprocketComputers.Brush
!system/apps/SprocketComputers.Calculator
!system/apps/SprocketComputers.FileManager
!system/apps/SprocketComputers.FlyHelp
!system/apps/SprocketComputers.Maps
!system/apps/SprocketComputers.MediaPlayer
!system/apps/SprocketComputers.zMediaPlayer
!system/apps/SprocketComputers.Memo
!system/apps/SprocketComputers.Notebook
!system/apps/SprocketComputers.Options
!system/apps/SprocketComputers.PhotoViewer
!system/apps/SprocketComputers.Preview
!system/apps/SprocketComputers.Recorder
!system/apps/SprocketComputers.Timer
!system/apps/SprocketComputers.Utilities
!system/apps/SprocketComputers.zFileManager
!system/apps/SprocketComputers.zOptions
!system/apps/SprocketGames.TicTacToe
!system/apps/SprocketComputers.StickyNotes
!system/apps/SprocketComputers.Camera
!system/apps/SprocketComputers.RufflePlayer