body {
	background-color: #fff;
	padding-top: 8px;
	padding-bottom: 24px;
}
h1,h2,h3,h4,h5,h6,p {
	padding-left: 6%;
	padding-right: 6%;
}
.title {
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 18px;
	padding-bottom: 16px;
	padding-left: 6%;
	padding-right: 6%;
}
.category {
    background-image: linear-gradient(to left, rgba(180,180,255,0.5) 0%,rgba(180,180,255,0) 100%);
    margin-top: -8px;
	padding-top: 24px;
	position: relative;
	overflow: hidden;
}
p.description {
	margin-top: -12px;
}
p.hint {
	font-size: 0.8em;
	opacity: 0.8;
	margin-top: -16px;
	padding-left: 58px;
}
p.shead {
	font-size: 0.8em;
	opacity: 0.8;
	margin-bottom: -16px;
}
.inline-icon {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin: 0px;
	margin-right: 8px;
	margin-top: -4px;
}
.title-icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin: 0px;
	margin-right: 8px;
	margin-top: -4px;
}
.category-icon {
	z-index: -1;
	position: absolute;
	right: 6%;
	width: 79px;
	height: 79px;
	top: 0px;
	filter: saturate(0) contrast(150%);
}
.box {
	background-color: rgba(0,0,0,0.05);
	width: 100%;
	box-sizing: border-box;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
}
.buttons {
	background-color: #fff;
	width: 100%;
	box-sizing: border-box;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 6%;
	padding-right: 6%;
	border-top: .1px solid rgba(0,0,0,0.1);
	text-align: right;
	position: sticky;
	bottom: 0px;
	margin-top: 24px;
}
button {
	min-width: 100px;
}
img.button-image {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 6px;
}